html,body{
    background-color: #3b8689;
}

hr {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.jumbotron{
    background-color: #296163;
}

.submission-input{
    margin: 10px;
}

.submission-input-label, .white-text{
    color: #e6e6e6;
}

.card{
    width: 420px;
    margin-top: 10%;
    background-color: #596275;
}

.card-header{
    color: white;
}

.confirmButton{
    color: black;
    background-color: #e15f41;
    width: 85px;
    margin-bottom: 5px;
}

.confirmButton:hover{
    color: black;
    background-color: #e19b2a;
}

.links {
    color: white;
    text-align: center;
}

#logOutBtn, #logInBtn{
    padding: 5px;
    width: 100px;
}

#logOutBtn:hover{
    color: black;
}
